<form name="settings" class="settings" action="#/view2">
    
    <label name="chicken" class="chicken">
        <input type="checkbox" value="chicken">Chicken
    </label>

    <label name="pork" class="pork">
        <input type="checkbox" value="pork">Pork
    </label>

    <label name="fish" class="fish">
        <input type="checkbox" value="fish">Fish
    </label>

    <label name="beef" class="beef">
        <input type="checkbox" value="beef">Beef
    </label>

    <label name="veggie" class="veggie">
        <input type="checkbox" value="veggie">Veggie
    </label>

    <label name="pasta" class="pasta">
        <input type="checkbox" value="pasta">Pasta
    </label>

    <label name="rice" class="rice">
        <input type="checkbox" value="rice">Rice
    </label>

    <input type="submit" />

</form>


<div class="random_selection">
    
    <p>Hey you! Why don't you ask the genie?</p>

</div>