<form name="settings" class="settings" action="#/view2">
    
    <label name="chicken" class="chicken">
        <input type="checkbox" checked>Poultry
    </label>

    <label name="pork" class="pork">
        <input type="checkbox">Pork
    </label>

    <label name="fish" class="fish">
        <input type="checkbox">Fish
    </label>

    <label name="beef" class="beef">
        <input type="checkbox">Beef
    </label>

    <label name="veggie" class="veggie">
        <input type="checkbox">Veggie
    </label>

    <label name="pasta" class="pasta">
        <input type="checkbox">Pasta
    </label>

    <label name="rice" class="rice">
        <input type="checkbox">Rice
    </label>

    <input type="submit" />

</form>


<div class="random_selection">
    
    <p>Hey you! Why don't you try a lovely <span class="underline">Makaronia tou fournou?</span></p>

</div>