<section class="container">

    <div class="center searchBox">
        <h2>Search Recipes</h2>
        <input type="text" ng-model="query" placeholder="e.g Sweet and sour chicken..." autofocus  />
    </div>
    <br />

        <label>Order by:
                <select ng-model="RecOrder">
                    <option value="Title">Name</option>
                    <option value="-Healthiness">Healthiness</option>
                    <option value="Level">Level</option>
                </select>
            </label>


    <form>

        <input type="radio" ng-model="query" name="test" value="Beef">Beef</input>
        <input type="radio" ng-model="query" name="test" value="Chicken">Chicken</input>
        <input type="radio" ng-model="query" name="test" value="Fish">Fish</input>
        <input type="radio" ng-checked="true" ng-model="query" name="test" value="">All</input>
    </form>


    <ul class="center allRecipes">
        <li class="recipes" ng-repeat="Rec in Recipe | limitTo: 4 | filter: query | orderBy: RecOrder ">

            <a href="#/view3/{{Recipe.indexOf(Rec)}}">

                <p class="title">{{Rec.Title}}</p>
 
                <p>Level: <strong>{{Rec.Level}}</strong>
                </p>

                <p class="des">{{Rec.Description}}</p>

                <p ng-if="Rec.glutenFree">
                    *Gluten Free <img class="GF_icon" src="img/GF.png" height="40" width="40" />
                </p>

                <p><img ng-src="{{Rec.img}}" height="140" width="180" />
                </p>


        </li>

        </a>
    </ul>

</section>